{% extends "pages/base.html" %}
<!--title of page home-->
{% load static %}
{% block title %}
Support
{% endblock %}

{% block content %}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Support Form</h2>
        </div>
        <div class="mb-3">
            <label for="FormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="FormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="FormControlTextarea1" class="form-label">Feedback</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
        </div>
        <!--submit -->
        <div class="col-12">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </main>
</div>
{% endblock %}